<!DOCTYPE html>
  <html>
    <head>
      <title>
        <ul>
          <li>red</li>
          <li>white</li>
          <li>blue</li>
          <li>yellow</li>
        </ul>
      </title>
    </head>
    <body>
      <p>
      </p>

    </body>
  </html>